* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "Montserrat";
}
html {
  scroll-behavior: smooth;
}
body {
  background: transparent;
  color: #fff;
}
/* Navigation Styling */

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000000;
  top: 0;
}
.navbar-nav {
  font-size: 1.3rem;
}
.logo-control {
  margin-left: 3rem;
}
/* Navbar-ends */
/* Home-page-styling */
.main-container {
  width: 100%;
  height: auto;
}
.home-section {
  display: flex;
}

/* Left section */
.left-section {
  width: 60%;
}
.first-div h2 {
  font-size: 4rem;
}
.first-div .home-page {
  opacity: 0;
  animation: slidebottom 1s ease forwards;
  animation-delay: 0.7s;
}
span {
  color: rgb(252, 0, 0);
}
.first-div {
  padding-left: 8rem;
  padding-top: 12rem;
  color: #2d2e2f;
}
.manage-text p {
  padding-left: 8.5rem;
  padding-top: 2rem;
  font-size: 24px;
  color: #666666;
  opacity: 0;
  animation: slideright 1s ease forwards;
  animation-delay: 0.7s;
}
/* keyframe animation */
@keyframes slideright {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slidebottom {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.buttons-control {
  padding-left: 8rem;
  padding-top: 2rem;
}
.buttons-control .btn {
  background: rgb(50, 49, 49);
}

/* Right Section */
.right-section {
  width: 40%;
}
.right-img {
  padding-top: 6rem;
}
.right-img .profile-control {
  border-radius: 2%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

/* About styling */
.about {
  display: flex;
  height: 600px;
  width: 100%;
}
.second {
  background: red;
}
.about-left {
  width: 30%;
  margin-top: 11rem;
  margin-left: 8rem;
}
.about-right {
  width: 60%;
}
.about-control {
  border-radius: 50%;
  border: 3px solid red;
}
.about-right {
  margin-left: 28vw;
  margin-top: 11rem;
}
.about-right .control-about-right {
  text-decoration: underline;
  text-align: center;
}
.about-right p {
  align-items: center;
  text-align: center;
  padding-top: 9px;
  font-size: 19px;
}
.about-right li{
  font-size: 23px;
}
.about-right h2{
  font-size: 40px;
}
.hobbies-control {
  font-size: 20px;
}
.hobbies {
  margin-top: 12px;
}
.contactme {
  padding-top: 20px;
  margin-left: 30%;
}
.contactme-last {
  margin: 2rem 15vw;
}

.map-control {
  margin: 5rem 3rem;
  padding: 0 2rem;
  border-radius: 10%;
}
.family {
  width: 100%;
  display: flex;
}
.family-left {
  width: 65%;
  margin-top: 8vh;
  margin-left: 11rem;
}
.family-left h2{
  font-size: 40px;
  text-decoration: underline;
}
.family-right {
  width: 35%;
  margin-left: 7rem;
  margin-bottom: 13rem;
}
.familiy-control{
  border-radius: 50%;
  border: 3px solid black;
}
.hobbies{
  margin-top: -22px;
  text-align: center;
  align-items: center;
  padding: 3rem 4rem;
}
.hobbies h2{
  font-size: 30px;
  padding-top:25px;
}
.hobbies .control-hobbies-right{
  font-size: 40px;
  text-decoration: underline;
}
.football-control{
  border-radius: 50%;
}